.header {
  width: 100%;
  margin-top: 30px;

  &-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.icon {
  height: 47px;
  //   width: 47px;
}

.icons {
  width: fit-content;
}

.username {
  margin-right: 128px;
}
