.single-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  width: 40px;
  height: 34px;
}

.image {
  width: 30px;
}

.name {
  width: 172px;
}

.single-item {
  margin-top: 20px;
}
