.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #F8F8F8;
    

    &__button{
        border: none;
        background-color: #F8F8F8;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }
}